    <!-- Home -->
    <div class="wrapper style1 first" id="top">
        <article class="container">
            <div class="row">
                <div class="4u 12u(mobile)">
                    <span class="image fit">
                        <img src="images/logo_code.gif" alt="" />
                    </span>
                </div>
                <div class="8u 12u(mobile)">
                    <header>
                        <h1>Linderman Lab</h1>
                        <h2>Stanford University</h2>
                        <p>
                            Welcome to the Linderman Lab! We belong to the <a href="https://statistics.stanford.edu/">Statistics Department</a> and the <a href="https://neuroscience.stanford.edu/">Wu Tsai Neurosciences Institute</a> at Stanford University.
                            Our work bridges <strong>computational neuroscience</strong>, <strong>artificial intelligence</strong>, and <strong>Bayesian statistics</strong>, developing models and algorithms for complex data. Check out some of our research
                            below, and reach out if you'd like to learn more!
                        </p>
                    </header>
                </div>
            </div>
        </article>
    </div>
