        <li><a href="#research" class="icon"><i class="fas fa-book-open"></i> Research</a></li>
        <li><a href="#group" class="icon"><i class="fas fa-users"></i> Group</a></li>
        <li><a href="#teaching" class="icon"><i class="fas fa-chalkboard"></i> Teaching</a></li>
        <li><a href="#publications" class="icon"><i class="fas fa-briefcase"></i> Publications</a></li>
        <li><a href="https://github.com/lindermanlab" class="icon"><i class="fab fa-github"></i> Code</a></li>
        <!-- <li><a href="https://lindermanlab.github.io/hackathons/" class="icon"><i class="fas fa-rss"></i> Blog</a></li> -->
