    <!-- Teaching -->
    <div class="wrapper style2">
        <article id="teaching">
            <header>
                <h2>Teaching</h2>
            </header>
            <div class="container">
                <div class="row">
                    <div class="4u 12u(mobile)">
                        <article class="box style2">
                            <a href="https://slinderman.github.io/ml4nd/"><img src="images/stats320.png" width="100%"/></a>
                        </article>
                    </div>
                    <div class="8u 12u(mobile)">
                        <h3>STAT 320: Machine Learning Methods for Neural Data Analysis</h3>
                        <p>
                            This course is organized around a series of coding labs.
                            Each week, we introduce the theory behind a state-of-the-art method for neural data analysis. Then, in the lab, we develop a minimal version
                            of that method from scratch, in Python. The methods include: spike sorting and calcium deconvolution methods for extracting relevant signals from raw data; markerless tracking methods for estimating animal pose in behavioral videos; generalized linear models and deep learning models for neural encoding and decoding; and state space models for analysis of high-dimensional neural and behavioral time-series.
                            <br>
                            <strong>Online Textbook</strong> (Still in development): <a href="https://slinderman.github.io/ml4nd/">https://slinderman.github.io/ml4nd</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="4u 12u(mobile)">
                        <article class="box style2">
                            <a href="https://slinderman.github.io/stats305b/"><img src="images/stats305b.png" width="85%"/></a>
                        </article>
                    </div>
                    <div class="8u 12u(mobile)">
                        <h3>STAT 305B: Applied Statistics II</h3>
                        <p>
                            This is a course about models and algorithms for discrete data. We cover models ranging from generalized linear models to sequential latent variable models, autoregressive models, and transformers. On the algorithm side, we cover a few techniques for convex optimization, as well as approximate Bayesian inference algorithms like MCMC and variational inference. I think the best way to learn these concepts is to implement them from scratch, so coding is a big focus of this course. By the end, you will have a strong grasp of classical techniques as well as modern methods for modeling discrete data.
                            <br>
                            <strong>Course Reader</strong>: <a href="https://slinderman.github.io/stats305b/">https://slinderman.github.io/stats305b</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="4u 12u(mobile)">
                        <article class="box style2">
                            <a href="https://slinderman.github.io/stats305c/"><img width="80%" src="images/stats305c.gif" width="100%"/></a>
                        </article>
                    </div>
                    <div class="8u 12u(mobile)">
                        <h3>STAT 305C: Applied Statistics III</h3>
                        <p>
                            This course is about probabilistic modeling and (approximate) Bayesian inference algorithms for high dimensional data. Topics include multivariate Gaussian models, probabilistic graphical models, hierarchical Bayesian models, MCMC and variational Bayesian inference, principal components analysis, factor analysis, matrix completion, topic modeling, state space models, variational autoencoders, Gaussian processes, and point processes. Each week pairs a family of models with an approximate inference algorithm. The course involves extensive Python programming using PyTorch and applied statistical analyses of real datasets.
                            <br>
                            <strong>Course Reader</strong>: <a href="https://slinderman.github.io/stats305c/">https://slinderman.github.io/stats305c</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
